.footer {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.footer__text {
  color: var(--txt-primary);
  font-size: 0.9rem;
}
